@media (max-width: 1200px) {
  .header__logo {
    width: 8.5rem;
  }

  .header__tel,
  .header__btn,
  .header__lang {
    font-size: 1.4rem;
  }

  .header__lang {
    margin: 0 9rem 0 auto;
  }

  .intro__logo {
    max-width: 30rem;
    margin: 0 0 1rem 0;
  }

  .intro h6 {
    font-size: 1.8rem;
  }

  .header__inner {
    height: 4.5rem;
  }

  .intro__bottom p {
    font-size: 1.4rem;
  }

  .intro__bottom img {
    width: 4rem;
  }

  .about {
    padding: 7.5rem 0;
  }

  .about__left {
    display: none;
  }

  .about__box,
  .about__right {
    max-width: 100%;
    width: 100%;
  }

  .about__box {
    margin: 0 0 5rem auto;
  }

  .about__box strong {
    font-size: 2.6rem;
  }

  .about__right p {
    font-size: 1.4rem;
  }

  .about__swiper {
    margin: 4.5rem 0 0 0;
  }

  .about__swiper .swiper-slide {
    height: 34.5rem;
  }

  .swiper-pagination-fraction {
    font-size: 1.4rem !important;
  }

  .about__swiper .swiper-pagination-fraction {
    bottom: -4rem;
  }

  .place {
    padding: 7.5rem 0;
  }

  .place__nums-box {
    font-size: 3.5rem;
  }

  .place__nums p {
    font-size: 1.4rem;
  }

  .place .about__box strong {
    line-height: 110%;
  }

  .place .about__box {
    margin: 0 0 7.5rem auto
  }

  .place__nums-box {
    margin: 0;
  }

  .place__box-item h6 {
    font-size: 2.6rem;
    line-height: 100%;
  }

  .btn {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    height: 3.3rem;
  }

  .place__nums {
    margin: 0 0 7.5rem -3.5rem;
  }

  .aboutt {
    padding: 7.5rem 0 1rem;
  }

  .aboutt__list-img {
    height: 60rem;
  }

  .aboutt h6 {
    font-size: 1.4rem;
  }

  .aboutt__list-item {
    margin: 0 0 5rem 1.5rem;
  }

  .aboutt__list-img {
    margin: 0 0 2rem 0;
  }

  .faq h3 {
    font-size: 2.6rem;
    line-height: 110%;
    margin: 0 0 5rem 0;
  }

  .faq__left p {
    font-size: 1.4rem;
    line-height: 140%;
  }

  .accordeon dt {
    font-size: 1.8rem;
    line-height: 125%;
  }

  .accordeon dt::after {
    font-size: 1.2rem;
    line-height: 125%;
  }

  .accordeon dd p {
    font-size: 1.4rem;
    line-height: 125%;
  }

  .faq__inner {
    padding: 7.5rem 4rem;
  }

  .events__right h6 {
    font-size: 2.6rem;
    line-height: 125%;
    margin: 0 0 5rem 0;
  }

  .events__right p {
    font-size: 1.4rem;
    line-height: 125%;
  }

  .events__left,
  .events__right {
    padding: 7.5rem;
  }

  .faq {
    margin: 2rem auto 7.5rem;
  }

  .events__swiper {
    height: 50rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 4rem;
    height: 4rem;
  }

  swiper-button-next img,
  .swiper-button-prev img {
    width: 1.6rem;
    height: 1.4rem;
  }

  .swiper-button-next {
    right: 1rem;
  }

  .swiper-button-prev {
    left: 1rem;
  }

  .partners h6 {
    font-size: 2.6rem;
    line-height: 125%;
    margin: 0 0 2.5rem 0;
  }

  .partners p {
    font-size: 1.4rem;
    line-height: 120%;
    margin: 0 0 7.5rem 0;
  }

  .partners__list li {
    height: 13.5rem;
    width: calc(20% - 1.5rem);
  }

  .partners__list img {
    width: 6.5rem;
  }

  .footer__box:nth-child(1) a {
    font-size: 1.6rem;
  }

  .footer__title {
    font-size: 1.6rem;
    margin: 0 0 1.5rem 0;
  }

  .footer li a {
    font-size: 1.4rem;
  }

  .footer__politic,
  .footer p {
    display: none;
  }

  .footer .social {
    order: -1;
    margin: 0 1rem 0 0;
  }

  .footer span {
    display: flex;
    margin: 0 0 0 auto;
  }

  .footer__inner {
    padding: 0 0 8rem 0;
  }

  .footer__box:nth-child(1) ul {
    position: sticky;
    top: 5rem;
  }

  .menu__left {
    max-width: 30rem;
  }

  .menu__logo {
    width: 8.5rem;
  }

  .menu__close {
    font-size: 1.4rem;
  }

  .menu__top {
    padding: 0 0 1rem 0;
    margin: 0 0 2.5rem 0;
  }

  .menu__title {
    font-size: 1.6rem;
    margin: 0 0 1.5rem 0;
  }

  .menu__col a {
    font-size: 1.4rem;
  }

  .menu__col li {
    margin: 0 0 .5rem 0;
  }

  .menu__col {
    margin: 0 0 2.5rem 3rem;
  }

  .menu__right {
    padding: 1rem;
    height: 70rem;
  }

  .menu__bottom>ul a {
    font-size: 1.6rem;
  }

  .menu__bottom {
    flex: 1 1 auto;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu .header__lang {
    order: 1;
  }

  .menu__bottom-box {
    padding: 2rem 0 0 0;
    margin: auto 0 0 0;
    max-width: 100%;
    border-top: 1px solid #e1e1e1;
    align-items: center;
  }


  .place__dot-btn {
    margin: 0 0 1rem 0;
    width: 3rem;
    height: 3rem;
  }

  .place__dot-btn::after {
    width: 1rem;
    height: 1rem;
  }

  .place__dot {
    font-size: 1.2rem;
  }

  .place__item-top h6 {
    font-size: 2.6rem;
  }

  .place__item-top {
    margin: 0 0 2rem 0;
  }

  .place__item-box p {
    font-size: 1.4rem;
  }

  .place__item-close {
    font-size: 1.6rem;
  }

  .place__item-box::after {
    bottom: -2.2rem;
  }

  .place__item-box::after {
    bottom: -1.6rem;
  }


  .place__item-box {
    z-index: -1;
  }

  .aboutt .about__right {
    padding: 0;
  }

  .place__img-wrap {
    overflow: auto;
  }

  .place__img {
    height: 710px;
    width: 1120px;
  }

  .place__img img {
    height: 700px;
    width: 1120px;
  }


  .place__item-box {
    position: fixed;
    left: auto !important;
    right: 50% !important;
    top: 50% !important;
    bottom: auto !important;
    transform: translate(50%, -50%);
    max-width: 35rem;
    z-index: -1;
  }

  .place__item-box::after {
    display: none;
  }

  .place__item {
    max-width: 16rem;
  }

  .place__item--one {
    top: 292px;
    left: 200px;
  }

  .place__item--two {
    bottom: 200px;
    left: 250px;
  }

  .place__item--three {
    bottom: 268px;
    left: 498px;
  }

  .place__item--four {
    bottom: 219px;
    left: 590px;
  }

  .place__item--five {
    bottom: 199px;
    left: 519px;
  }

  .place__item--six {
    bottom: 139px;
    left: 600px;
  }

  .place__item--seven {
    bottom: 334px;
    left: 664px;
  }

  .place__item--eight {
    bottom: 192px;
    left: 723px;
  }
  .place__item--nine {
    bottom: 125px;
    left: -18px;
  }





}

@media (max-width: 992px) {
  .place__swipe {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    max-width: 33rem;
    width: 100%;
    margin: -5rem auto 0;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
    text-align: center;

    img {
      width: 1.4rem;
      height: 1.2rem;
    }
  }

  .animation-1 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
  }

  @keyframes bounce {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .animation-2 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bouncee;
    animation-timing-function: ease;
  }

  @keyframes bouncee {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .place__nums li {
    width: calc(50% - 3.5rem);
  }

  .place__box-item {
    padding: 1rem;
    width: calc(100% - 1.5rem);
    height: 35.5rem;
    margin: 0 0 1rem 1.5rem;
  }

  .aboutt__list-img {
    height: 22.5rem;
  }

  .faq__inner {
    flex-direction: column;
  }

  .faq__inner {
    padding: 7.5rem 0;
  }

  .events {
    border: none;
    margin: 7.5em 0 1rem;
  }

  .events__inner {
    flex-direction: column-reverse;
  }

  .events__left,
  .events__right {
    width: 100%;
    border: none;
  }

  .events__left,
  .events__right {
    padding: 2rem 0;
  }

  .events__right .btn {
    margin: 2rem 0 0 0;
  }

  .partners__list li {
    width: calc(25% - 1.5rem);
  }

  .partners {
    padding: 3.5rem 0 6.5rem;
  }

  .menu__col {
    width: calc(50% - 3rem);
  }




}


@media (max-width: 768px) {

  .header__lang,
  .header__tel {
    display: none;
  }

  .header__btn {
    margin: 0 0 0 auto;
  }

  .place__nums li {
    width: calc(100% - 3.5rem);
    margin: 0 0 0 3.5rem;
    padding: 2.1rem 0;
    border-bottom: .1rem solid #303030;
  }

  .place__nums li:first-child {
    border-top: .1rem solid #303030;
  }

  .place__box-item h6 {
    margin: 0 0 1rem 0;
  }

  .aboutt__list-item {
    width: calc(100% - 1.5rem);
  }

  .aboutt .about__inner {
    margin: 0 0 6.5rem 0;
  }

  .partners__list li {
    width: calc(33.33333% - 1.5rem);
  }

  .menu__left {
    display: none;
  }

  .menu__col {
    width: calc(100% - 3rem);
  }

  .menu .header__lang {
    display: flex;
  }
}

@media (max-width: 576px) {
  .footer__inner {
    flex-direction: column;
  }

  .footer__col {
    margin: 2rem 0 0 0;
    width: 100%;
  }

  .footer {
    padding: 7rem 0 4.5rem;
  }

  .footer li {
    margin: 0 0 .5rem 0;
  }

  .footer__box:nth-child(1) li {
    margin: 0 0 .5rem 0;
  }

  .footer__inner {
    padding: 0 0 15rem 0;
  }

  .footer__bottom {
    padding: 2rem 0 0 0;
    border-top: 0.2rem solid #4a4a4a;
  }
}