@import "global";
@import "fonts";
@import "btns";

/*start header==========*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: linear .2s;

  &__inner {
    height: 9rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: linear .3s;
  }

  &__logo {
    width: 18.8rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__lang {
    margin: 0 39rem 0 auto;
    display: flex;
    align-items: center;
    color: #ededed;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -.02rem;
    text-transform: lowercase;

    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        width: 0%;
        height: 0.2rem;
        background-color: #ededed;
        transition: linear .2s;
      }
      &:hover{
        &::after{
          width: 100%;
        }
      }
    }

    span {
      display: flex;
      margin: 0 .3rem;
    }
  }

  &__tel {
    margin: 0 9rem 0 0;
    color: #ededed;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -.02rem;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: linear .2s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      left: 0;
      width: 0%;
      height: 0.2rem;
      background-color: #ededed;
      transition: linear .2s;
    }
    &:hover{
      &::after{
        width: 100%;
      }
    }
  }

  &__btn {
    color: #ededed;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -.02rem;
    text-transform: lowercase;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: linear .2s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      left: 0;
      width: 0%;
      height: 0.2rem;
      background-color: #ededed;
      transition: linear .2s;
    }
    &:hover{
      &::after{
        width: 100%;
      }
    }
  }
}

.header.sticky {
  background-color: #171717;
}

/*end header==========*/

/*start menu============*/
.menu.active {
  transform: translateX(0);
  opacity: 1;
}

.menu {
  color: #171717;
  background-color: #ededed;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: translateX(100%);
  opacity: 0;
  transition: all .8s;
  overflow: auto;

  .container {
    max-width: 194rem;
    width: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 90rem;
    width: 100%;
    margin: 0 0 0 -10px;
    min-height: 100vh;
    font-size: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: top;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 2rem 5rem;
    max-width: 1020px;
    width: 100%;
  }

  &__top {
    padding: 0 0 3rem 0;
    margin: 0 0 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .2rem solid #D5D5D5;
  }

  &__logo {
    width: 19rem;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__close {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: .02rem;
    text-decoration: underline;
    text-decoration-color: transparent;
    cursor: pointer;
    color: #8E8E8E;
    transition: linear .3s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      left: 0;
      width: 0%;
      height: 0.2rem;
      background-color: #171717;
      transition: linear .2s;
    }
    &:hover{
      color: #171717;
      &::after{
        width: 100%;
      }
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -3rem;
  }

  &__col {
    margin: 0 0 4rem 3rem;
    width: calc(33.33333% - 3rem);

    li {
      margin: 0 0 10px 0;
    }

    a {
      color: #9b9b9b;
      font-size: 2rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -.02rem;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #9b9b9b;
      }
    }
  }

  &__title {
    margin: 0 0 2.5rem 0;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    margin: auto 0 0 0;

    &>ul {
      margin: 0 3rem 0 0;

      li {
        margin: 0 0 1.5rem 0;
      }

      li:last-child {
        margin: 0;
      }

      a {
        color: #171717;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -.02rem;
        text-align: left;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: linear .2s;

        &:hover {
          text-decoration-color: #171717;
        }
      }
    }
  }

  .header__lang {
    color: #171717;
    margin: 0;
    a{
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        width: 0%;
        height: 0.2rem;
        background-color: #171717;
        transition: linear .2s;
      }
      &:hover{
        color: #171717;
        &::after{
          width: 100%;
        }
      }
    }
   
  }

  &__bottom-box {
    max-width: 60rem;
    width: 100%;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

}

/*end menu============*/

/*start intro=============*/
.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__inner {
    padding: 24% 0 2.5rem;
    min-height: 110rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    max-width: 70.5rem;
    width: 100%;
    margin: 0 0 2.5rem 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h6 {
    color: #f3f3f3;
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
  }

  &__bottom {
    width: 100%;
    margin: auto 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      color: #f3f3f3;
      font-size: 2rem;
      font-weight: 500;
      line-height: 100%;
    }

    img {
      width: 5rem;
      height: 100%;
      object-fit: contain;
    }
  }
}

/*end intro=============*/

/*start about===========*/
.about {
  padding: 15rem 0 15rem;
  color: #171717;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 40rem;
    margin: 0 3rem 0 0;

    p {
      font-size: 2.3rem !important;
      margin: 0;
    }
  }

  &__right,
  &__box {
    max-width: 84.5rem;
    width: 100%;
  }

  &__right {
    p {
      margin: 0 0 1rem 0;
      color: #9b9b9b;
      font-size: 2.9rem;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -.02rem;
    }
  }

  &__box {
    margin: 0 0 9rem auto;

    strong {
      font-size: 4.5rem;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -.02rem;
    }
  }

  &__swiper {
    margin: 8.5rem 0 0 0;
    position: relative;

    .swiper-slide {
      height: 55rem;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination-fraction {
      left: 50%;
      transform: translateX(-50%);
      bottom: -5rem;
      width: 100%;
      font-size: 2rem;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0;
      text-align: center;
    }

    .swiper-pagination-total {
      color: #171717;
    }
  }
}

/*end about===========*/

/*start place===========*/
.about__box * {
  transition: linear .5s;
}

.place {

  &__swipe {
    display: none;
  }

  padding: 15rem 0;
  color: #171717;

  .about__box {
    margin: 0 0 18rem auto;

    strong {
      line-height: 150%;
    }
  }

  &__nums {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 17.5rem -3.5rem;

    li {
      width: calc(25% - 3.5rem);
      margin: 0 0 2rem 3.5rem;
    }

    p {
      margin: 0;
      font-size: 2.9rem;
      font-weight: 500;
      line-height: 125%;
    }
  }

  &__nums-box {
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    font-size: 7.5rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -.2rem;
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0 -1.5rem;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 110rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__box-item {
    position: relative;
    padding: 4rem 5rem;
    width: calc(50% - 1.5rem);
    margin: 0 0 1.5rem 1.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.35);
      transition: linear .2s;
    }

    &:hover {
      &::after {
        background: rgba(0, 0, 0, 0.25);
      }
    }

    h6 {
      margin: 0 0 4rem 0;
      position: relative;
      z-index: 2;
      color: #ededed;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: -.03rem;
    }

    .btn {
      position: relative;
      z-index: 2;
    }
  }

  &__item {
    position: absolute;
    max-width: 55rem;
    width: 100%;

    &--one {
      bottom: 46rem;
      left: 54rem;
    }

    &--two {
      top: 42rem;
      left: 19rem;
    }

    &--three {
      bottom: 42rem;
      left: -5rem;

      .place__item-box {
        bottom: 5rem;
      }
    }

    &--four {
      bottom: 31rem;
      left: 62rem;
    }

    &--five {
      bottom: 26rem;
      right: 21rem;

      .place__item-box {
        left: -25rem;

        &::after {
          left: auto;
          right: -6rem;
          transform: rotate(-40deg);
        }
      }
    }

    &--six {
      bottom: 19rem;
      right: -9rem;

      .place__item-box {
        left: -25rem;

        &::after {
          left: auto;
          right: -6rem;
          transform: rotate(-40deg);
        }
      }
    }
  }

  &__dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;

    h5 {
      transition: linear .2s;
      text-align: center;
    }
  }

  &__dot.active {
    h5 {
      opacity: 0;
    }
  }

  &__dot.active+.place__item-box {
    opacity: 1;
    z-index: 11;
  }

  &__dot-btn {
    margin: 0 0 1.5rem 0;
    position: relative;
    z-index: 10;
    width: 6rem;
    height: 6rem;
    border: .2rem solid #f3f3f3;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: linear .2s;

    &:hover {
      opacity: .7;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #f3f3f3;
    }
  }

  &__item-box {
    position: absolute;
    bottom: 3rem;
    right: -25rem;
    max-width: 40.2rem;
    width: 100%;
    background-color: #ededed;
    padding: 2.5rem;
    opacity: 0;
    transition: linear .2s;

    &::after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: -6rem;
      height: 20rem;
      width: 1px;
      background-color: #ededed;
      transform: rotate(40deg);
    }

    p {
      color: #9b9b9b;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: -.02rem;
    }

  }

  &__item-top {
    margin: 0 0 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h6 {
      margin: 0 2rem 0 0;
      color: #000000;
      font-size: 4rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -.02rem;
      text-transform: uppercase;
    }

    span {
      color: #9b9b9b;
      font-size: 2rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -.02rem;
    }
  }

  &__item-close {
    color: #171717;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
    cursor: pointer;
    border: none;
    text-decoration: underline;
    text-decoration-color: #171717;
    transition: linear .2s;

    &:hover {
      text-decoration-color: transparent;
    }
  }



}

/*end place===========*/

/*start aboutt==============*/
.aboutt {
  padding: 15rem 0 3rem;

  .about__inner {
    margin: 0 0 13rem 0;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0 -1.5rem;
  }

  &__list-item {
    margin: 0 0 10rem 1.5rem;
    width: calc(50% - 1.5rem);

    &:hover {
      img {
        width: 103%;
        height: 103%;
      }
    }
  }

  &__list-img {
    width: 100%;
    height: 60rem;
    margin: 0 0 2.5rem 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: linear .2s;
    }
  }

  h6 {
    color: #171717;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.03rem;
  }
}

/*end aboutt==============*/

/*start faq==========*/
.faq {
  margin: 2rem auto 15rem;
  color: #171717;
  background-color: #EDEDED;
  max-width: 170.2rem;
  width: 100%;

  &__inner {
    padding: 15rem 4rem;
    display: flex;
    justify-content: space-between
  }

  &__left {
    max-width: 65.8rem;
    width: 100%;
    margin: 0 3rem 0 0;

    p {
      margin: 0 0 2rem 0;
      color: #9b9b9b;
      font-size: 2rem;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: -.02rem;
    }
  }

  h3 {
    margin: 0 0 5rem 0;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  &__right {
    max-width: 79rem;
    width: 100%;

    p {
      margin: 0 0 2rem 0;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 150%;
    }
  }

}

.accordeon {
  dl {
    border-bottom: .1rem solid #D4D4D4;
    margin: 0;
  }

  dl:first-child {
    border-top: .1rem solid #D4D4D4;
  }

  dt {
    position: relative;
    padding: 2rem 11rem 2rem 0;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -.02rem;
    cursor: pointer;

    &::after {
      content: "деталі";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transition: linear .2s;
      font-size: 2rem;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: -.02rem;
    }
  }

  dt.active {
    &::after {
      content: "приховати";
      color: #9b9b9b;
      text-decoration: underline;
    }
  }

  dd {
    p {
      max-width: 60rem;
      font-size: 2.3rem;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: -.02rem;
    }

    margin: 0;
  }
}

/*end faq==========*/

/*startrevents==========*/
.events {
  margin: 7.5rem 0;
  border-top: .2rem solid #E1E1E1;
  border-bottom: .2rem solid #E1E1E1;

  &__inner {
    display: flex;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 0;
    width: calc(50% - .2rem);
    border-right: .2rem solid #E1E1E1;
  }

  &__swiper {
    position: relative;
    max-width: 66rem;
    width: 100%;
    height: 80rem;

    .swiper-slide {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination-fraction {
      left: 50%;
      transform: translateX(-50%);
      bottom: 2.5rem;
      width: 100%;
      font-size: 2rem;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0;
      text-align: center;
      color: #EDEDED;
    }

    .swiper-pagination-total {
      color: #EDEDED;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15rem 0;
    width: 50%;
    text-align: center;

    h6 {
      margin: 0 0 2rem 0;
      font-size: 4.6rem;
      line-height: 100%;
      letter-spacing: -.02rem;
      font-weight: 500;
    }

    p {
      margin: 0 0 1rem 0;
      font-size: 2rem;
      line-height: 125%;
      letter-spacing: -.02rem;
      font-weight: 500;
      color: #9B9B9B;
    }

    .btn {
      margin: 5rem 0 0 0;

    }
  }

  &__right-inner {
    max-width: 59.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*end events==========*/

/*start partners===========*/
.partners {
  padding: 7.5rem 0 15rem;
  text-align: center;

  h6 {
    margin: 0 0 5rem 0;
    color: #171717;
    font-size: 7.5rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  p {
    margin: 0 0 15rem 0;
    color: #171717;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -1.5rem;

    li {
      width: calc(12.5% - 1.5rem);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25rem;
      background-color: #ededed;
      margin: 0 0 1rem 1.5rem;
    }

    img {
      width: 12rem;
      height: auto;
      object-fit: contain;
    }
  }
}

/*end partners===========*/

/*start footer===========*/
.footer {
  background-color: #171717;
  padding: 5rem 0 5.5rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 0 18rem 0;
  }

  &__box:nth-child(1) {
    max-width: 17rem;
    width: 100%;
    margin: 0 2rem 0 0;

    li {
      margin: 0 0 1.5rem 0;
    }

    a {
      color: #ededed;
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -.02rem;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #ededed;
      }
    }
  }

  &__box:nth-child(2) {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    margin: 0 0 6.5rem 6rem;
  }

  &__title {
    margin: 0 0 2.5rem 0;
    color: #ededed;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  li {
    margin: 0 0 1rem 0;

    a {
      color: #9b9b9b;
      font-size: 2rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -.02rem;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #9b9b9b;
      }
    }
  }

  &__bottom {
    padding: 5rem 0 0 0;
    border-top: .2rem solid #4A4A4A;

    .container {
      display: flex;
      align-items: center;
    }
  }

  &__politic {
    margin: 0 5% 0 15%;
    color: #ededed;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  span {
    color: #ededed;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  p {
    color: #ededed;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -.02rem;
  }

  .social {
    margin: 0 0 0 auto;
  }
}

/*end footer===========*/


@import "media";